{{ define "body" }}
<!-- <div class="row justify-content-center">
    <div class="card border-0 mt-3 mx-3" style="width: 18rem;">
        <div class="card-body bg-med-purp">
            <div>
                <h5 class="card-title font-weight-bold">
                    <a href="" class="stretched-link text-light no-underline" target="_blank" rel="noopener noreferrer">
                        Monthly P&I Payments Graph
                    </a>
                </h5>
                <p class="card-text text-light">
                    This started out as a simple visualization I created in a few minutes in python to estimate
                    how much I would be paying on my mortgage each month in principle and interest payments. I figured that
                    someone else might find this useful, so I put it here!
                </p>
            </div>
        </div>
    </div>
</div> -->
{{ end }}